@{
    ViewBag.Title = "Add Todo";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div ng-app="todosApp">
    <div ng-controller="todosController">
        <todosApp Task="AddTodo" OnAdd="AddTodo()"/>
    </div>
</div>